In [7]:
import pandas as pd

In [8]:
customers=pd.read_csv(r"C:\Users\Deepthi V\Documents\day1\contact_data.csv")

In [9]:
transactions=pd.read_csv(r"C:\Users\Deepthi V\Downloads\transaction_data.csv")

In [10]:
merged_data=pd.merge(customers,transactions,on='customer_id',how='inner')

In [11]:
print(merged_data)

     customer_id              name                        email  \
0              1     Michelle Kidd           vayala@example.net
1              4    Kimberly Price    jessicaknight@example.com
2              5  Matthew Phillips        qwilliams@example.com
3              7      Louis Miller  patriciaelliott@example.org
4              7      Louis Miller  patriciaelliott@example.org
..           ...               ...                          ...
995          995    Deanna Johnson            ycook@example.org
996          995    Deanna Johnson            ycook@example.org
997          997      Jodi Simpson           eric24@example.org
998          998     Crystal Brown         pshaffer@example.net
999          998     Crystal Brown         pshaffer@example.net

               phone                                            address  \
0    +1 619-723-4258                        USNS Santiago, FPO AE 80872
1    +1 423-222-9779         1631 Alexis Meadows, Lake Amanda, CA 75179
2    +1 220-763-3522  2274 Williams Heights Suite 895, Andersonhaven...
3    +1 198-862-7105        02590 Marshall Well, Sheppardland, CT 88067
4    +1 198-862-7105        02590 Marshall Well, Sheppardland, CT 88067
..               ...                                                ...
995  +1 576-320-4824        601 Contreras Forges, Michaelfurt, KY 30733
996  +1 576-320-4824        601 Contreras Forges, Michaelfurt, KY 30733
997  +1 483-625-2940  2876 Tucker Road Suite 947, North Tommyborough...
998  +1 390-747-3088  095 Janice Forest Suite 570, Boltonmouth, DE 7...
999  +1 390-747-3088  095 Janice Forest Suite 570, Boltonmouth, DE 7...

    registration_date loyalty_status  transaction_id   amount  \
0          25-01-2025           Gold               8  2652.57
1          08-12-2024           Gold             427  1787.09
2          03-02-2024           Gold             452  1983.52
3          30-09-2024           Gold             470  3241.66
4          30-09-2024           Gold             857   697.57
..                ...            ...             ...      ...
995        01-11-2023         Silver             532   759.38
996        01-11-2023         Silver             617   821.18
997        18-04-2024         Bronze              45   480.64
998        30-08-2024         Bronze             304    73.71
999        30-08-2024         Bronze             886      NaN

        transaction_date product_category payment_method store_location
0    2025-04-19 14:46:00             Home    Credit Card       New York
1    2025-04-28 04:34:07           Beauty         PayPal        Chicago
2    2025-02-03 14:59:13           Sports         PayPal         Online
3    2025-05-15 15:17:05      Electronics         PayPal    Los Angeles
4    2025-06-13 12:03:42           Beauty     Debit Card        Chicago
..                   ...              ...            ...            ...
995  2025-03-14 16:56:22             Home         PayPal       New York
996  2025-01-23 07:39:19      Electronics     Debit Card          Miami
997  2025-01-06 08:27:59             Home    Credit Card    Los Angeles
998  2025-01-27 05:33:22             Home     Debit Card        Chicago
999  2025-03-16 15:42:17           Beauty     Debit Card         Online

[1000 rows x 13 columns]

In [18]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
 7   transaction_id     1000 non-null   int64
 8   amount             950 non-null    float64
 9   transaction_date   1000 non-null   object
 10  product_category   1000 non-null   object
 11  payment_method     1000 non-null   object
 12  store_location     1000 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 101.7+ KB

In [13]:
mean=merged_data['amount'].mean()

In [15]:
high_value_trans=merged_data[(merged_data['amount']>1000 )| (merged_data['amount']>mean)]

In [19]:
high_value_trans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 770 entries, 0 to 994
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        770 non-null    int64
 1   name               770 non-null    object
 2   email              770 non-null    object
 3   phone              770 non-null    object
 4   address            770 non-null    object
 5   registration_date  770 non-null    object
 6   loyalty_status     770 non-null    object
 7   transaction_id     770 non-null    int64
 8   amount             770 non-null    float64
 9   transaction_date   770 non-null    object
 10  product_category   770 non-null    object
 11  payment_method     770 non-null    object
 12  store_location     770 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 84.2+ KB

In [20]:
high_value_trans.to_csv('high_value_trans.csv')